html {
   box-sizing: border-box;
}


.main-container {
   display: flex;
   max-width: 1200px; 
   margin: 0 auto;
   flex-direction: row;
   align-items: center;
   flex-wrap: wrap;
}
h1 {
   width:100%;
   margin: 0 auto;
   text-align: center;
}

form {
   display: flex;
   flex-direction: column;
   margin: 20px auto;
   justify-items: center;
   min-width: 300px;
}

fieldset {
   width: 100%;
   margin: auto;
   padding:10px;
   display: inline;
}

.searchButton, input {
   float: right;
   
}

#search-container {
   width: 100%;
   margin: auto;
   display: flex;
   justify-content: center;
}


ol {
   width: 75%;
   font-size: 18px;
}


span {
   border: 1px solid black;
   display: flex;
   font-size: 14px;
   line-height: 1.3em;
   margin:3px;
   min-width:400px;
   flex-wrap: wrap;

}

span:hover {
   background-color: lightblue;
   border-width: 3px;
   margin: 5px;
   cursor: pointer;
}

li {
   width: 75%;
   /* float: left; */
   padding: 3px;  
}

#itinerary-container {
   display: flex;
   width: 100%;
   margin: 0 20%;
   justify-content: center;
   flex-direction: column;
   margin-bottom: 50px;
   border: 2px solid black;
}

div {
   margin: 0 auto;
   width: 100%;
   font-size: 18px;
   display: flex;
   padding-inline-start: 10px;
   justify-content: left;
   /* padding-left: 100px; */
}




