{
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": 1,
        "quotes": [ "warn", "double"],
        "eqeqeq": 1,
        "no-trailing-spaces": 1
    }
  }
